html, body, .container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    background-color: #efefef;
}

body.winOpen .container {
    filter: brightness(.3);
    pointer-events: none;
}

h1 {
    margin: 0;
    padding: 0.67em;
}

.setting {
    margin-top: 1rem;
}

.setting > * {
    width: 100%;
}

label:after {
    content: ":";
}

#mtext {
    height: 4em;
}

.btn-main {
    height: 2.5em;
}

button.jscolor {
    height: 2rem;
    margin-bottom: .3rem;
    border: solid 1px grey;
    border-radius: .5rem;
}

#canvas {
    width: 100%;
    border: 1px solid black;
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #eee;
    opacity: .99;
    padding-top: 2em;
    box-sizing: border-box;
}

.windowCloseBtn {
    position: fixed;
    top: .2rem;
    right: .2rem;
    width: 2rem;
    height: 2rem;
    border: solid 2px #333;
    border-radius: 50%;
    display: block;
    font-size: 1.5rem;
    background: none;
}

.pickerElement {
    display: flex;
    align-items: center;
}

.pickerElement {
    background-color: #eee;
}

.pickerElement:nth-child(even) {
    background-color: #ddd;
}

.pickerElement:hover {
    background-color: #ccc;
}

.pickerElement > img {
    width: 25%;
    background: #bbb;
}

.imageInfo {
    flex-grow: 1;
    text-align: center;
}

.imageInfo > small {
    display: block;
}

.imageInfo > button {
    display: block;
    margin: auto;
}

#originalImage, #croppingMask {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

#croppingMask {
    opacity: 0.3;
}

#saveImageImg {
    width: 100%;
}

#searchLoading, #searchNavigation {
    display: none;
}

.window.searchLoading > #searchLoading {
    display: block;
}

.window.searchNavigation > #searchNavigation {
    display: block;
}

@media (min-width: 600px) {
    .main {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .settings {
        margin-left: 2rem;
        margin-right: 2rem;
        min-width: 15rem;
    }

    .window {
        width: 590px;
        left: calc(50% - 590px/2);
        padding-left: 10px;
        padding-right: 10px;
    }

    .windowCloseBtn {
        right: calc(50% - 670px / 2 + .2rem);
        background: white;
    }
}